{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'djangobb_forum/js/markitup/skins/markitup/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'djangobb_forum/js/markitup/sets/markdown/style.css' %}" />
<script type="text/javascript" src="{% static 'djangobb_forum/js/markitup/jquery.markitup.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'djangobb_forum/js/markitup/sets/markdown/set.js' %}"></script>
<script type="text/javascript" src="{% static 'djangobb_forum/js/markup/markdown/board.js' %}"></script>