{% for message in messages %}
    {% if extra_tag %}
        {% if extra_tag in message.extra_tags %}
        <div class="alert alert-{{ message.level_tag }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{message|safe}}
        </div>
        {% endif %}
    {% else %}
        {% if not message.extra_tags %}
        <div class="alert alert-{{ message.level_tag }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{message|safe}}
        </div>
        {% endif %}
    {% endif %}
{% endfor %}