{% extends 'base.html' %}
{% load i18n %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{ material.title }}</h1>
        </div>
        <div class="panel-body">
            {{ material.page|safe }}
            <form action="" method="post">
                {% csrf_token %}
                {% include 'alert.html' %}
                {% for field in form %}
                    <label id='id_label_{{field.name}}' class="form-label">{{field.label}}</label>
                    <br>
                    {{field.errors}}
                    {{field}}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary pull-right submit">{% trans 'Отправить' %}</button>
            </form>
        </div>
    </div>
{% endblock %}