{% load i18n %}
{% load staticfiles %}
{% comment %}
<div class="instead" style="height: {{h}}px;">
    Реклама помогает поддерживать и развивать наши ресурсы. 
    <div class="btn-block"><a class="btn btn-default menu-item" target="_blank" href="{% static 'site/img/adp-mozila.png' %}"> Как отключить <span>AdBlock</span> только на этом сайте</a></div>
</div>
{% endcomment %}