{% extends 'base.html' %}
{% load i18n %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><span class="fa fa-sign-in"></span> {{material.title}}</h1>
        </div>
        <div class="panel-body">
            {{material.page|safe}}
            <form method="post">
                {% csrf_token %}
                {% include 'alert.html' %}
                {% for field in form %}
                    <label id='id_label_{{field.name}}' class="form-label">{{field.label}}</label>
                    {{field.errors}}
                    {{field}}
                {% endfor %}
                <button type="submit" class="btn btn-primary pull-right submit"><span class="fa fa-sign-in"></span>  {% trans 'Войти' %}</button>
            </form>
            <button onclick="window.location.href='{% url 'u-reset-password' %}';" class="btn btn-primary pull-left reset"><span class="fa fa-retweet"></span>  {% trans 'Сбросить пароль' %}</button>
            <button onclick="window.location.href='{% url 'u-registration' %}';" class="btn btn-warning pull-left btn-registration"><span class="fa fa-rocket"></span>  {% trans 'Регистрация' %}</button>
        </div>
    </div>
{% endblock %}
