{% extends 'base.html' %}
{% load i18n %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{material.title}}</h1>
        </div>
        <div class="panel-body">
            {{material.data|safe}}
        </div>
    </div>
{% endblock %}
