{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load mptt_tags %}
{% load thumbnail %}
{% load advtags %}


{% block breadcrumb %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans 'Главная' %}</a></li>
    <li><a href="{% url 'posts-category-list' object.category.slug %}">{{object.category.name}}</a></li>
    <li class="active">{{object.title}}</li>
  </ol>
</div>
{% endblock %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><span class="fa fa-pencil-square-o"></span> {{object.title}}</h1>
        </div>
        <div class="panel-body">
            {% include 'alert.html' %}
            {% block media-header %}
            <div id="social">
                <!--noindex-->
                <script type="text/javascript">(function() {
                  if (window.pluso)if (typeof window.pluso.start == "function") return;
                  if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                  }})();</script>
                <div class="pluso" data-background="transparent" data-options="medium,square,line,vertical,counter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,livejournal,email,print" data-user="133415106"></div>
                <!--/noindex-->
            </div>
            <div id="start-social"></div>
            {% include 'post-header.html' with object=object %}
            {% endblock %}
            <div id="post-data" class="post-data-copy">
                {{object.post|advfilter|safe}}
            </div>
            {% block media-footer %}
            {% include 'post-footer.html' with object=object %}
            {% endblock %}
            <div id="end-social"></div>
        </div>
    </div>
    {% block slimilar-posts %}
    {% if not object.is_question %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Похожие' %}</h2>
        </div>
        <div class="panel-body">
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        {{adv_in_article.data|safe}}
                    </div>
                    <hr>
                </li>

                {% for post in similar_posts %}
                <li class="media">
                    <div class="media-body">
                        <div class="pull-left">
                            {% thumbnail post.picture "90x90" crop="center" as thumb_img %}
                                <img class="media-object" src="{{thumb_img.url}}" alt="{{post.title}}">
                            {% endthumbnail %}
                        </div>
                      <h3 class="media-heading"><a href="{% url 'posts-category-detail' post.slug %}">{{post.title}}</a></h3>
                      {{post.post_mini_shorter|safe}}
                    </div>
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endblock %}

    {% block post-comments %}
    <div class="panel panel-default" id="comments">
        <div class="panel-heading">
            <h2 class="panel-title"><span class="fa fa-comments"></span> {% trans 'Комментарии' %}</h2>
        </div>
        <div class="panel-body">

            <div class="middle-rek">
                {{adv_middle.data|safe}}
                <br>
            </div>
            {% include 'instead_adv.html' with w=750 h=80 %}

            <ul class="media-list">
                {% recursetree comments %}
                <li class="media" id="comment_{{node.pk}}">
                {% include "comment.html" with node=node %}
                </li>
                {% endrecursetree %}
                <li class="media" id="place-create-comment"></li>
            </ul>
            <br>

            <div class="panel panel-default comment-create-form">
                <div class="panel-heading">
                    <h3 class="panel-title"> {% trans 'Оставить комментарий' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" id="comment-create-form-id" action="{% url 'json-comment' %}">
                        {% csrf_token %}
                        <input type="hidden" name="post" value="{{object.id}}">
                        {% if not user.is_authenticated %}
                        <input class="form-control" maxlength="255" name="author_username" placeholder="{% trans 'Ваше имя' %}" type="text" />
                        <br>
                        {% endif %}
                        <textarea class="form-control ckeditor" cols="40" rows="10" name="comment" placeholder="{% trans 'Ваш комментарий' %}"></textarea>
                        <button type="submit" class="btn btn-primary pull-right submit">{% trans 'Отправить' %}</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
{% endblock %}


{% block js_extra %}
<script type="text/javascript" src="{% static 'site/js/social.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/comments.js' %}"></script>
{% endblock %}
