{% extends 'base.html' %}
{% load i18n %}
{% load blogs_tags %}
{% load thumbnail %}


{% block breadcrumb %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans 'Главная' %}</a></li>
    <li class="active">{{category.name}}</li>
  </ol>
</div>
{% endblock %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% block panel-heading %}
            <h1 class="panel-title"><span class="fa fa-bars"></span> {% trans 'Статьи' %} </h1>
            {% endblock %}
            {% if page_obj.number > 1 %}<span class="pull-right page-number-title"><span class="fa fa-list-ul"></span> {% trans 'страница' %} {{page_obj.number}}</span>{% endif %}
        </div>
        <div class="panel-body">
            {% if object_list.count == 0 %}
                {% block no-data %}
                {% trans 'Нет статей' %}
                {% endblock %}
            {% else %}
            <ul class="media-list">
                {% for object in object_list %}
                <li class="media">
                    <div class="media-body">
                        {% if not object.is_question and object.picture %}
                        <div class="pull-left">
                            {% thumbnail object.picture "170x170" crop="center" as thumb_img %}
                                <img class="media-object" src="{{thumb_img.url}}" alt="{{object.title}}">
                            {% endthumbnail %}
                        </div>
                        {% endif %}
                        <h2 class="media-heading media-heading-left">
                            <a href="
                            {% if object.is_published %}
                                {% url 'posts-category-detail' object.slug %}
                            {% else %}
                                {% if not object.is_published %}
                                    {% url 'u-posts-detail-draft' object.slug %}
                                {% else %}
                                    {% url 'u-posts-detail-moderation' object.slug %}
                                {% endif %}
                            {% endif %}
                            ">{{object.title}}</a>
                        </h2>
                        {% include 'post-header.html' with object=object %}
                        <div class="post-data-copy">
                        {{object.announcement|safe}}
                        </div>
                    </div>
                    {% if object.is_published %}
                    {% include 'post-footer.html' with object=object %}
                    {% endif %}
                    <hr>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="middle-rek">
                {% if adv_middle.data %}
                {{adv_middle.data|safe}}
                {% else %}
                {% if show_adv %}
                <img src="http://placehold.it/720x80" alt="...">
                {% endif %}
                {% endif %}
            </div>
            {% include 'instead_adv.html' with w=720 h=80 %}
            
            {% block pagination %}
            {% if page_obj.paginator.num_pages > 1 %}
            <ul class="pagination">
                {% for num_page in page_obj.paginator.num_pages|range %}
                <li class="{% if num_page == page_obj.number %}active{% endif %}"><a href="?page={{num_page}}">{{num_page}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}